[project]
	description = Calc CI
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Gogshub
[access "refs/for/refs/*"]
	read = group user/Gogshub
	push = group user/Gogshub
	label-Code-Review = -2..+2 group user/Gogshub
	label-Verified = -1..+1 group user/Gogshub
	rebase = group user/Gogshub
	removeReviewer = group user/Gogshub
	submit = group user/Gogshub
[access "refs/heads/*"]
	read = group user/Gogshub
	create = group user/Gogshub
	push = +force group user/Gogshub
	pushMerge = group user/Gogshub
[access "refs/tags/*"]
	push = +force group user/Gogshub
	pushTag = group user/Gogshub
	pushSignedTag = group user/Gogshub
